@import "app/styles/reset.scss";
@import "app/styles/variables/global.scss";
@import "app/styles/themes/light.scss";
@import "app/styles/themes/dark.scss";

.app {
  font-size: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}