@import "app/styles/reset.scss";
@import "app/styles/variables/global.scss";
@import "app/styles/themes/light.scss";
@import "app/styles/themes/dark.scss";
@import "app/styles/themes/orange.scss";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  flex-shrink: 100;
  height: calc(100vh - var(--navbar-height));
  padding: 20px 20px 20px 45px;
  overflow-y: auto;
}
