@import "app/styles/reset.scss";
@import "app/styles/variables/global.scss";
@import "app/styles/themes/light.scss";
@import "app/styles/themes/dark.scss";
@import "app/styles/themes/orange.scss";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;               /* scrollbar width */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* track color */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* die color */
  border-radius: 20px;       /* die rounding */
  border: 2px solid var(--primary-color);  /* padding around the die */
}
