.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: var(--negative-z-index);
}

.content {
  position: relative;
  bottom: 0;
  height: 70%;
  width: 100%;
  min-height: 100px;
  padding: 20px;
  background: var(--bg-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: 0.3s transform;
  transform: translateY(100%);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: var(--select-z-index);

  &::before {
    content: "";
    position: relative;
    bottom: 40px;
    display: block;
    width: 100px;
    height: 10px;
    margin: auto;
    background: var(--bg-color);
    border-radius: 12px;
  }
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0%);
  }
}
