.app.dark {
  --bg-color: #3b3b3b;
  --inverted-bg-color: #c2c2c2;
  --primary-color: #5f6e50;
  --inverted-primary-color: #776868;
  --secondary-color: #ffdc00;
  --inverted-secondary-color: #3838ad;
}
