.app.light {
  --bg-color: #c2c2c2;
  --inverted-bg-color: #3b3b3b;

  --primary-color: #776868;
  --inverted-primary-color: #5f6e50;

  --secondary-color: #3838ad;
  --inverted-secondary-color: #ffdc00;
}