.app_orange_theme {
  --bg-color: #efebe9;
  --inverted-bg-color: #ffb74d;
  --primary-color: #3b3b3b;
  --inverted-primary-color: #a1887f;
  --secondary-color: #ff7043;
  --inverted-secondary-color: #ffab91;
}
